/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: none;
  width: 60%;
  max-width: 400px;
}

button {
  padding: 10px 20px;
  border-radius: 0 5px 5px 0;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.weather-display-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.weather-display-container p {
  margin-right: 40px;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 28px;
  }
  input {
    width: 50%;
  }
  button {
    padding: 8px 16px;
  }
  .weather-display-container p {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
